block variables
-var time = Date.now();

doctype html
html(lang='en')
  head
    script(src='../../assets/js/theme-detection.js')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title} - Documentation
    link(rel='icon' href='../../assets/img/favicon.svg' sizes='32x32')
    link(rel='stylesheet' href=`../../assets/css/main.css?time=${time}`)

    block styles
  body
    div(class='container container--wide')
      main(id='content' class='l-main')
        include components/sidebar
        div(class='l-main__body')
          include components/header
          block content
          include components/footer

    script(src=`../../assets/js/navigation.js?time=${time}`)
    script(src=`../../assets/js/theme-switcher.js?time=${time}`)
    script(src=`../../assets/js/theme-change-assets.js?time=${time}`)
